<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<style>
    .reviews-table {
        margin-top: 30px;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #dddddd;
        border-collapse: collapse;
    }
    .reviews-table th {
        font-weight: bold;
        padding: 5px;
        background: #efefef;
        border: 1px solid #dddddd;
    }
    .reviews-table td {
        border: 1px solid #dddddd;
        padding: 5px;
    }
</style>
<table class="reviews-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Текст</th>
        <th>Дата публикации</th>

    </tr>
    </thead>

    <tbody>
    {% for review in reviews %}
        <tr>
            <td>{{ review.id }}</td>
            <td style="min-width: 600px">{{ review.text }}</td>
            <td>{{ review.date_added }}</td>
        </tr>
    {% endfor %}
    </tbody>


</table>

{% for i in 0..(count_page-1) %}
    <a class="pagination-link" href="?page={{ i }}">{{ i+1 }}</a>
{% endfor %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Получаем ссылки на кнопки пагинации
        var paginationLinks = document.querySelectorAll('.pagination-link');

        // Обрабатываем нажатие на каждую кнопку пагинации
        paginationLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                // Отменяем стандартное действие ссылки
                event.preventDefault();

                // Получаем значение страницы из атрибута href
                var page = this.getAttribute('href').split('=')[1];

                // Выполняем AJAX-запрос для получения данных
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/api/feedbacks?page=' + page, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        // Обновляем содержимое таблицы с отзывами
                        var reviewsTable = document.querySelector('.reviews-table');
                        reviewsTable.innerHTML = xhr.responseText;
                    }
                };
                xhr.send();
            });
        });
    });
</script>
</body>
</html>